{% extends "core/base.html" %}
{% load i18n %}
{% load settings_value %}

{% block pagetitle %}{% trans 'Password Reset' %} - {% settings_value 'PRODUCT_NAME' %}{% endblock %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
{% settings_value 'PRODUCT_NAME' as product_name %}
<div class="text-center">
    <p>{% trans "Your new password has been saved." %}</p>

    <p>{% trans 'You can go ahead and' %} <a href="{{ login_url }}">{% blocktrans %}login to {{ product_name }} API{% endblocktrans %}</a></p>
</div>
{% endblock %}
